[data.xdg]
cacheHome  = "{{ .chezmoi.homeDir }}/.cache"
configHome = "{{ .chezmoi.homeDir }}/.config"
dataHome   = "{{ .chezmoi.homeDir }}/.local/share"
stateHome  = "{{ .chezmoi.homeDir }}/.local/state"
binHome    = "{{ .chezmoi.homeDir }}/.local/bin"
