{{- $isWork := get . "isWork" | default false -}}
{{- $npmTokenOpRef := get . "npmTokenOpRef" | default "" -}}
min-release-age=2
{{ if and $isWork $npmTokenOpRef -}}
//registry.npmjs.org/:tokenHelper={{ joinPath .chezmoi.homeDir ".local/bin/pnpm-npm-token" }}
{{- end }}
{{- if $isWork }}

# Socket Firewall npm-family registry
registry=https://registry.k8s.vercel.security/npm/
//registry.k8s.vercel.security/npm/:username=client-gate
//registry.k8s.vercel.security/npm/:_password=${SOCKET_PASSWORD_B64}
omit-lockfile-registry-resolved=true
{{- end }}
