{{- $isWork := get . "isWork" | default false -}}
{{- $npmTokenOpRef := get . "npmTokenOpRef" | default "" -}}
{{- if and $isWork $npmTokenOpRef }}
tokenHelper={{ joinPath .chezmoi.homeDir ".local/bin/pnpm-npm-token" }}
{{- end }}
