{{- if eq .chezmoi.os "darwin" -}}
# Brewfile - Homebrew dependencies managed by chezmoi
# This file will be automatically installed when the Brewfile changes

# Core tools
brew "chezmoi"
brew "curl"
brew "direnv"
brew "git"
brew "mas"  # Mac App Store command line interface
brew "uv"
brew "vim"
brew "wget"

# Casks (GUI applications)
cask "docker"
cask "iterm2"

# Mac App Store apps
mas "Paprika Recipe Manager 3", id: 1303222628
mas "Perplexity", id: 6714467650
mas "Telegram", id: 747648890

# VS Code extensions
vscode "charliermarsh.ruff"
vscode "chiragpat.vscode-glimmer"
vscode "dbaeumer.vscode-eslint"
vscode "docker.docker"
vscode "eamodio.gitlens"
vscode "editorconfig.editorconfig"
vscode "esbenp.prettier-vscode"
vscode "fill-labs.dependi"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "graphql.vscode-graphql"
vscode "graphql.vscode-graphql-syntax"
vscode "hashicorp.terraform"
vscode "hbenl.vscode-test-explorer"
vscode "jscearcy.rust-doc-viewer"
vscode "lifeart.vscode-glimmer-syntax"
vscode "ms-azuretools.vscode-docker"
vscode "ms-python.black-formatter"
vscode "ms-python.debugpy"
vscode "ms-python.flake8"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-toolsai.jupyter"
vscode "ms-toolsai.jupyter-keymap"
vscode "ms-toolsai.jupyter-renderers"
vscode "ms-toolsai.vscode-jupyter-cell-tags"
vscode "ms-toolsai.vscode-jupyter-slideshow"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode.makefile-tools"
vscode "ms-vscode.remote-explorer"
vscode "ms-vscode.test-adapter-converter"
vscode "ms-vsliveshare.vsliveshare"
vscode "orta.vscode-jest"
vscode "redhat.java"
vscode "redhat.vscode-yaml"
vscode "rust-lang.rust-analyzer"
vscode "stylelint.vscode-stylelint"
vscode "suchitadoshi1987.file-hopper"
vscode "suchitadoshi1987.vscode-ember-experimental"
vscode "svelte.svelte-vscode"
vscode "swellaby.vscode-rust-test-adapter"
vscode "tamasfe.even-better-toml"
vscode "visualstudioexptteam.intellicode-api-usage-examples"
vscode "visualstudioexptteam.vscodeintellicode"
vscode "vscjava.vscode-gradle"
vscode "vscjava.vscode-java-debug"
vscode "vscjava.vscode-java-dependency"
vscode "vscjava.vscode-java-pack"
vscode "vscjava.vscode-java-test"
vscode "vscjava.vscode-maven"
vscode "vscodevim.vim"
vscode "zerotaskx.rust-extension-pack"
{{- end -}}