{{- if eq .chezmoi.os "darwin" -}}
# Brewfile - Homebrew dependencies managed by chezmoi
# This file will be automatically installed when the Brewfile changes

# Core tools
brew "chezmoi"
brew "curl"
brew "direnv"
brew "git"
brew "mas"  # Mac App Store command line interface
brew "uv"
brew "vim"
brew "wget"
brew "node"

# Casks (GUI applications)
cask "docker"
cask "iterm2"

# Mac App Store apps
mas "Paprika Recipe Manager 3", id: 1303222628
mas "Perplexity", id: 6714467650
mas "Telegram", id: 747648890
{{- end -}}